# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
# Archives
*.zip
*.tar.gz
*Global-Setu-Source-Code.zip_unzipped*/
SIH_PROJECT/
*.code-workspace

